body {
    padding: 0;
    margin: 0;
    background: url('../../assets/result.jpg') no-repeat;
    background-size: cover;
    height: 500px;
}
h1, h2 {
    color: white;
}
#btn1 {
    margin-left: 520px;
    margin-top: 150px;
}
#btn2 {
    margin-left: 40px;
    margin-top: 150px;
}
