<!-- <div class="navbar navbar-light bg-light mb-3">

    <a href="CreateAccount" class="roterlink">Create-Account</a>
    
    <a href="ShowBalance" class="routerlink">Show-Balance</a>
    <a href="Deposit" class="routerlink">Deposit</a>
    <a href="WithDraw" class="routerlink">Withdraw</a>
    <a href="FundTransfer" class="routerlink">FundTransfer</a>
    <a href="History" class="routerlink">History</a>
    
    
    </div> -->


    <html>
    <body>
        <form action="/main" class="back1">
            <button type="submit" class="btn btn-default" (click)="back()">Cancel</button>
        </form>
        
        <!-- <div class="trans"> -->
            <button class="btn balance"><a href="ShowBalance" class="">Show-Balance</a></button>
            <button class="btn withdraw"><a href="WithDraw" class="">Withdraw</a></button>
            <button class="btn fTransfer"><a href="FundTransfer" class="">Fund Transfer</a></button>
            <button class="btn deposit"><a href="Deposit" class="">Deposit</a></button>
            <button class="btn history"><a href="History" class="">History</a></button>
    </body>
</html>